@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a, ul {
    text-decoration: none;
    color: inherit;
    list-style: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #fff;
    height: 100;
}
.header { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    background-color: #822d2d;
    padding: 0px 40px 0px 40px;
}
.header_img > img {
    width: 100px;
    height: 100px;
}
.header_nav {
    display: flex;
    align-items: center;
}
.header_nav > a {
    margin-right: 30px;
}
a:hover {
    color: rgb(194, 190, 190);
}
.main {
    display: flex;
    color: #000;
    justify-content: center;
    height: 637px;
}
.table {
    text-align: center;
}
.table td {
    padding: 5px 5px 5px 5px;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    background-color: #822d2d;
    padding: 0px 40px 0px 40px;
    font-size: 16px;
    color: #e4c4b5;
}